<div class="main-circle">
    <h2>About Me</h2>
    <p>I thoroughly enjoy creating websites from scratch as it <br>
        brings unique problems when it comes to implementation <br>
        from the initial idea and the project enables me to work <br>
        with different people from different professions. I love <br>
        to work on front-end development where I can develop <br>
        User interfaces, learn about the technologies possibly <br>
        used in the industry and improve on my existing programming <br> 
        skills.
    </p>
</div>

