$main-circle-background-color: #023047;
$profile-circle-background-color: #219EBC;
$text-color: white;
$min-height-circle: 100vh;
$min-width-circle: 800px;
$radius: 100%;

html{
    display: flex;
    justify-content: center;
}

:host .circle{
    background-color: $main-circle-background-color;
    border-radius: $radius;
    min-height: $min-height-circle;
    min-width: $min-width-circle;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $text-color;
}

.profile-circle{
    background-color: $profile-circle-background-color;
    border-radius: $radius;
    min-height: $min-height-circle / 2;
    min-width: $min-width-circle / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    border-radius: 100%;
    width: $min-width-circle / 2.4;
    height: $min-height-circle / 2.4;
}

h1{
    font-size: 3.5rem;
    margin: 10px 0px;
    
}